---
import { getCoverImagePath, Post } from "@data/post"
import { Img } from "astro-imagetools/components";

const post: Post = Astro.props.post
---

<div class="card shadow-xl bg-base-300 text-neutral-content hover:scale-105 transition-all h-128">
	<figure class="h-64 overflow-hidden">
		<Img
			src={getCoverImagePath(post)}
			alt={post.title}
		/>
	</figure>
	<div class="card-body">
		<h2 class="card-title text-2xl text-base-content font-bold">
			<a class="hover:underline" href={`/posts/${post.slug}`}>
				<span class="text-inherit/[.05]">{post.draft && "Draft: "}</span>
				{post.title}
			</a>
		</h2>
		<p class="text-sm text-base-content/70">{post.description}</p>
		<div class="card-actions justify-end">
			{post.tags?.map(tag => <div class="badge badge-outline"># {tag}</div>)}
		</div>
	</div>
</div>
