---
import { getCoverImagePath, Post } from "@data/post"
import Date from "@components/utilities/Date";
import { Img } from "astro-imagetools/components";

const post: Post = Astro.props.post
---

<div class="card shadow-xl bg-base-300 text-neutral-content hover:scale-105 transition-all h-128">
    <figure class="h-64 overflow-hidden">
        <Img layout={"fill"} src={getCoverImagePath(post)} alt={post.title} />
    </figure>
    <div class="card-body">
        <h2 class="card-title text-2xl text-base-content font-bold">
            <a class="hover:underline" href={`/posts/${post.slug}`}>
                <span class="inline-block text-base-content/70">{post.draft && "Draft: "}</span>{post.title}
            </a>
        </h2>
        <p class="text-sm text-base-content/70">
            <Date date={post.date} /> - {post.readingTime} minutes
        </p>
        <p class="text-md text-base-content/70">{post.description}</p>
        <div class="card-actions justify-end">
            {post.tags?.map(tag =>
            <a class="badge badge-lg badge-outline hover:badge hover:badge-lg" href={`/tags/${tag}`}>#{tag}</a>)}
        </div>
    </div>
</div>
